.Cause {
  margin: 50px;
}

.btn {
  margin-right: 10px;
  height: 30px;
  text-decoration: none;
  border-radius: 5px;
  border-style: initial;
  color: black;
  height: 2%;
  margin-top: -8px;
  background-color: transparent;
}

.button {
  background: transparent;
  border-style: none;
}

.link {
  font-size: 14px;
  color: black;
}

.causeImg {
  height: 400px;
  width: 500px;
}

.causeInfo {
  text-align: center;
}
